:root {
  --mainfFont: 'Monomaniac One', sans-serif;
  --mainbackground: #FFEAD2;
}

body {
  font-family: var(--mainfFont);
  font-size: 16px;
  background-color: var(--mainbackground);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid #FFEAD2;
}

.hour {
  background-color: #FFEAD2;
  color: #000000;
  border-top: 1px solid #000000;
}

.past {
  background-color: #9BA4B5;
  color: #FFF8DE;
}

.present {
  background-color: #FFEAD2;
  color: #FFF8DE;
}

.future {
  background-color: #77dd77;
  color: #FFF8DE;
}

.saveBtn {
  border-left: 1px solid black;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.saveallBtn {
  background-color: #06aed5;
  color: white;
}

.saveallBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.trashBtn {
  border-left: 1px solid black;
  background-color: #d50644;
  color: white;
}

.trashBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.clearBtn {
  margin-top:20px;
  margin-bottom:20px;
  background-color: #d50644;
  color: white;
}

.clearBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

footer {
  font-family: var(--mainfFont);
  font-size: 20px;
}